.App {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

h1 {
  color: #333;
}

h2 {
  color: #666;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #f0f0f0;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
}

.error {
  color: red;
  font-weight: bold;
}

.loading {
  font-style: italic;
  color: #888;
}

/* Randevu günleri için kırmızı stil */
.react-calendar__tile--appointment {
  background-color: red !important;
  color: white !important;
  border-radius: 50% !important;
  font-weight: bold;
}

/* Seçim gününe özel mavi stil */
.react-calendar__tile--active {
  background-color: blue !important;
  color: white !important;
  border-radius: 50% !important;
}
